body{
    width: 100%;
    height: 100vh;
    .header{
        width: 100%;
        height: 100vh;
        background-image: url(images/img_banner.jpg);
        background-size: cover;
        .header-container{
            display: flex;
            justify-content: space-between;
            padding-top: 3rem;
            .hum{
                display: none;
            }
            .logo{
                font-size: 2.2rem;
                padding-left: 3rem;
                a{
                    color: black;
                }
            }
            .nav-var ul{
                display: flex;
                margin-right: 5rem;
                li{
                    margin:0.7rem 0  0 3rem;
                    a{
                        font-size: 1.2rem;
                        color: black;
                        &:hover{
                            opacity: 0.5;
                            transition: all 0.2s;
                        }
                    }
                }
            }
        }
        .main-text{
            width: 20%;
            text-align: center;
            margin: 18% 0 0 60%; 
            h2{
                font-size: 2rem;
                margin-bottom: 10px;
            }
            p{
                font-size: 1.2rem;
            }
        }
    }
   
    .hum-body{
        display: none;
    }

    .business-wrapper{
        .business-heading{
            font-size: 2rem;
            text-align: center;
            padding: 100px 0 50px;
        }
        .business-content{
            width: 100%;;
            ul{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding-right: 30px;
                li{
                    width: 33%;
                    padding: 1px;
                    position: relative;
                    a{
                        &:hover{
                            opacity: 0.7;
                            transition:all 0.6s;
                        }
                        img{
                            width: 100%; 
                            filter: brightness(65%);
                        }
                        p{
                            width: 100%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            text-align: center;

                            -ms-transform: translate(-50%,-50%);
                            -webkit-transform: translate(-50%,-50%);
                            transform: translate(-50%,-50%);
                            margin:0;
                            padding:0;
                            color: #efefef;   
                            font-size: 1.3rem;
                            
                        }
                    }
                }
            }
        }
    }
    .news{
        .news-heading{
            font-size: 2rem;
            text-align: center;
            padding: 100px 0 50px;
        }
        .news-wrapper{
            .news-list{
                display: flex;
                justify-content: center;
                margin-bottom: 50px;
                .news-time{
                    display: flex;
                    span{
                        margin: 0 30px;
                    }
                    p{
                        margin-right: 30px;
                        font-weight: bold;
                    }
                }
                .news-text{
                    width: 35%;
                    p{
                        a:hover{
                            opacity: 0.5;
                            transition: all 0.5s;
                        }
                    }
                }
            }
        }
    }
    .sus-container{
        h3{
            font-size: 2rem;
            text-align: center;
            padding: 100px 0 50px;
        }
        .sus-vis{
            text-align: center;
            position: relative;
            a{
                &:hover{
                    opacity: 0.8;
                    transition: all 0.5s;
                }
                img{
                width: 50%;
                filter: brightness(85%);
                }
            }
            p{
                position: absolute;
                color: #efefef;  
                font-size: 1.3rem;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                letter-spacing: 3px;
            }
        }
    }
    .about-container{
        h3{
            font-size: 2rem;
            text-align: center;
            padding: 100px 0 50px;
        }
        .about-list{
            display: flex;
            justify-content: center;
            .about{
                padding: 2px;
                position: relative;
                a{
                    &:hover{
                        opacity: 0.7;
                        transition: all 0.5s;
                    }
                }
                img{
                    filter: brightness(80%);
                    
                }
                p{
                    position: absolute;
                    color: #efefef;  
                    font-size: 1.3rem;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    letter-spacing: 3px;
                    width: 70%;
                    text-align: center;
                }
            }
        }
    }
    .contact{
        .contact-wrapper{
            width: 100%;
            h3{
                font-size: 2rem;
                text-align: center;
                padding: 100px 0 50px;
            }
            p{
             text-align: center;
             font-size: 1.2rem;   
             margin-bottom: 50px;
            }
            button{
                width: 40%;
                height: 60px;
                display: block;
                margin: 0 auto;
                font-size: 1.3rem;
                background-color: #fff;
                cursor: pointer;
                &:hover{
                    background-color: #2D6C9B;
                    color: #efefef;
                    transition: all 0.3s;
                }
            }
        }
    }
    .footer{
        .footer-list{
            ul{
                display: flex;
                justify-content: center;
                margin: 100px 0;
                background-color: #efefef;
                padding: 30px 0;
                li{
                    margin: 0 50px;
                    font-size: 1.3rem;
                    a{
                        &:hover{
                            opacity: 0.4;
                            transition: all 0.2s;
                        }
                    }
                }
            }
        }
        p{
            text-align: center;
            margin-bottom: 100px;
        }
    }
}

